html {
	background-image: url("space.jpg");
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;

}
div {
	width:200px;
	margin: auto;
	align-items: center;
	padding: 300px 0;
}
a {
	text-decoration: none;
}
button {
	border-radius:10%;
	box-shadow:none;
	font-family: 'Mystery Quest', cursive;
	font-size:2em;
}
.button {
	background-color: black;
	border: solid black 2px;
	color:white;
	transition:all 0.4s;
	cursor: pointer
}
.button:hover {
	transform: scale(1.2);
	box-shadow:
	0px 0px 5px 5px;

}
